@use "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1b1b1b;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
